:root {
    /*Colors*/
    --primary-color: #0D0D0D;
    --accent-color: #009DFF;
    --surface-color: #F5F5F5F5;
    --secondary-color: #D9D9D9;
    /*fonts*/
    --font-bold: "Boldonse", system-ui;
    --font-regular: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    

}
@media (max-width: 600px){
    #hero-top {
        padding: 10px 20px;
        
    }
    #hero-top .menu-icon{
        display: flex;
        float: right;
        background-color: var(--secondary-color);
        width: 35px;
        justify-content: center;
        justify-items: center;
        border-radius: 60px;

    }
    .main-nav ul{
        display: none;
        
    }
    #home .hero-top{
        position: relative;
        
    }
    .hero-title h1{
        display: flex;
        justify-content: center;
        position: relative;
        top: 20px;
        font: var(--font-bold);
        font-size: 40px;
    }
    .hero-title h2{
        display: flex;
        padding: 20px;
        font-size: medium;
        justify-content: center;
        font: var(--font-bold);
        font-size: 12px;
    }
    .hero-search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .search-group {
        display: flex;
        justify-content: center;

        

    }

    .search-group input {
    height: 21px;
        padding: 0 8px;
        border: 1px solid #0D0D0D;
        border-right: none;
        border-radius: 20px 0 0 20px;
        outline: none;

    }

    .search-group button {
        display: flex;
        align-items: center;
        height: 23px;
        background-color: var(--accent-color);
        border: 1px solid #0D0D0D;
        padding: 0 8px;
        border-radius: 0 20px 20px 0;


    }
    .hero-search p{
        padding: 20px;
        font-size: 10px;
    }
    .main-content{
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
    .main-content img{
        display: flex;
        float: left;

    }

    .content-search{
        display: flex;
        position: relative;
        left: 30px;
        background-color: var(--secondary-color);
        width: 220px;
        height: 60px;
        top: -10px;
        justify-content: center;
        border-radius: 10px;
        
    }
    .content-search p{
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    #philosophy {
        padding: 20px;
        text-align: center;
    }
    .class-philosophy h3{
        margin: 10px;
        display: flex;
        justify-content: center;
        font:var(--font-bold);
        font-size: large;
        
    }
    .class-philosophy p {
        padding: 20px;
        background-color: var(--secondary-color);
        border-radius: 0 10px 0 10px;
    }
    .principle-1 h3{
        display: flex;
        justify-content: center;
        margin: 20px;
        background-color: var(--accent-color);
        padding: 5px;
        border-radius: 10px;

    }
    .principle-1 p{
        background-color: var(--secondary-color);
        border-radius: 10px 0 10px 0;
        padding: 5px;
    }
    .principle-2 h3{
        display: flex;
        justify-content: center;
        margin: 20px;
        background-color: var(--accent-color);
        padding: 5px;
        border-radius: 10px;
    }
    .principle-2 p{
        background-color: var(--secondary-color);
        border-radius: 0 10px 0 10px;
        padding: 5px;
        
    }
    #footer{
        background-color: var(--secondary-color);
        height: 100px;
    }
    .precise h4 {
        display: flex;
        justify-content: center;
        font-size:small;
        padding: 10px 20px;
    }
    .precise a{
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: #0D0D0D;
    }

}
@media (min-width: 1024px) {
    #hero-top {
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hero-top .menu-icon {
        display: none;
    }


}

